#wall .tag-1 {
    display: none;
  }
.tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: block;
  }
  body ~ div{
    align-items: flex-end;
  }
.tag-2{
    display: none;
  }
body {
    background-image: none;
}
.tag-3{
    display: none;
}
.tag-4{
    display: none;
}
.tag-5{
    display: none;
}
.tag-6{
    display: none;
}
.tag-7{
    display: none ;
}
body{
    background-image: none;
}